* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1338px;
    padding-top: 120px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
        padding-top: 80px;
        padding-bottom: 130px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @media screen and (max-width: 992px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 125px;
    }
}
