.x-large-font {
}

.large-font {
  font-family: Avenir-Heavy, sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #262e4f;
}

.link-font {
  font-family: Avenir-Roman, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2c49c5;
}
